#!/usr/bin/make -f

export PATH := $(HOME)/.cargo/bin:$(PATH)

%:
	dh $@ --with systemd

override_dh_auto_configure:
ifeq ($(DEB_TARGET_ARCH), armhf)
	curl https://static.rust-lang.org/rustup/dist/arm-unknown-linux-gnueabihf/rustup-init -o rustup-init
	chmod +x rustup-init
	./rustup-init -y --default-toolchain=nightly
endif
ifeq ($(DEB_TARGET_ARCH), i386)
	curl https://static.rust-lang.org/rustup/dist/i686-unknown-linux-gnu/rustup-init -o rustup-init
	chmod +x rustup-init
	./rustup-init -y --default-toolchain=nightly
endif
ifeq ($(DEB_TARGET_ARCH), amd64)
	curl https://static.rust-lang.org/rustup/dist/x86_64-unknown-linux-gnu/rustup-init -o rustup-init
	chmod +x rustup-init
	./rustup-init -y --default-toolchain=nightly
endif

override_dh_auto_build:
	cargo build --release --verbose

override_dh_auto_install:

override_dh_auto_test:

override_dh_clean:
	rm -rf target
	dh_clean
