[Unit]
Description=UniPager POCSAG transmitter controller
After=network.target

[Service]
ExecStart=/usr/bin/unipager
WorkingDirectory=/var/lib/unipager
Environment="RUST_BACKTRACE=1"

[Install]
WantedBy=multi-user.target
